.page {
	position: relative;
	width: 960px;
	height: 100vh;
	margin: 0 auto;
}

body.show-grid .page::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('../img/grid.png');
}
