h1 {
	font-size: 1.5em; /* 24px / 16px */
	font-family: cambria, georgia, serif;
}

h1 a {
	font: bold 0.6875rem calibri, optima, arial, sans-serif; /* 11px / 16px (root-ems sizing) */
	letter-spacing: 0.15em;
	text-transform: uppercase;
	text-decoration: none;
}

.clearfix:after {
	content: "";
	clear: both;
	display: table;
}

.page {
	font-size: 100%;
	position: relative;
	width: 90%;
	margin: 0 auto;
	background: rgba(180, 200, 180, 0.25);
}

.blog {
	width: 93.75%; /* 900px / 960px */
	margin: 40px auto;
	background: rgba(200, 200, 200, 0.5);
}

.section-title {
	background: rgba(200, 200, 200, 0.5);
	height: 100px;
}

.main {
	float: left;
	width: 62.8888%; /* 566px / 900px */
	background: rgba(180, 180, 200, 0.5);
}

.other {
	float: right;
	width: 36.7777%; /* 331px / 900px */
	background: rgba(200, 180, 180, 0.5);
}

.inline-block-main {
	display: inline-block;
	width: 62.8888%; /* 566px / 900px */
	background: rgba(180, 180, 200, 0.5);
}

.inline-block-other {
	display: inline-block;
	width: 36.7777%; /* 331px / 900px */
	background: rgba(200, 180, 180, 0.5);
}

body.show-grid .page::after {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url('../img/grid.png');
}
